*
    --bg-main: #f3f5f7
    --bg-header: #ffffff
    --shadow: 0 1px 10px 0 rgba(48,53,97,.15), 0 0 15px 0 #d0d7dd
    --shadow-lighter: 0px 2.5px 10px 0 rgba(1, 0, 42, 0.1)
    --text-color: #262626
    --active: #ff6a30
    --result: #61a654
    --transition: transform .3s ease,-webkit-transform .3s ease

    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: Roboto,'Ubuntu'
    outline: none
    font-size: 14px

input[type='text']
    height: 35px
    width: calc((100%/2) - 4px)
    border-radius: 2.5px
    background-color: #ffffff
    box-shadow: var(--shadow-lighter)
    border: none
    padding-left: 10px
    margin-bottom: 10px
    font-size: 14px
@mixin btn
    width: 70px
    height: 30px
    display: block
    margin: 0 auto
    border: none
    border-radius: 2.5px
    background-image: linear-gradient(336deg, #ffbd75, #ff964b), linear-gradient(#ffffff, #ffffff)
    box-shadow: var(--shadow-lighter)
    color: #fff
    font-weight: 100
    font-size: 12px
    cursor: pointer

a
	color: inherit
	text-decoration: none
	&:visited
		text-decoration: none
		color: inherit
	
	&:hover
		text-decoration: none
		color: inherit
	&:focus
		text-decoration: none
        color: inherit
	&:active
		text-decoration: none
        color: inherit
#app
    background-color: var(--bg-main)

.logo
    width: 100%
    height: 60px
    line-height: 60px
    text-align: center
    span
        color: var(--active)

.header
    box-shadow: var(--shadow)
    position: fixed
    width: 100%
    background: var(--bg-header)
    z-index: 10
    display: flex
    padding: 0 10px
    justify-content: space-between
    align-items: center
    &__trigger
        display: flex
        align-items: center
        position: relative
        justify-content: center
        width: 30px
        height: 30px
        cursor: pointer
        >span
            display: inline
            background-color: black
            width: 10px
            height: 2px
            position: relative
            &::before
                content: ''
                margin-bottom: 4px
                position: absolute
                background-color: black
                width: 10px
                height: 2px
                top: 10px
            &::after
                content: ''
                margin-top: 4px
                position: absolute
                background-color: black
                width: 10px
                height: 2px
    &__left
        display: flex
        align-items: center
        justify-content: flex-start
    &__right
        display: flex
        align-items: center
        justify-content: flex-end
    
.title
    width: 100%
    margin-top: 30px
    font-weight: 500
    font-size: 20px
    color: var(--text-color)
    text-align: center

aside
    width: 224px
    background: white
    position: fixed
    bottom: 0
    left: 0
    box-shadow: var(--shadow)
    transition: var(--transition)
    z-index: 9
    padding: 10px
    
main
    z-index: 0
    overflow: hidden
    position: absolute
    padding: 20px
    background: var(--bg-main)
    height: 100%
    min-height: 100%

    .section-data
        display: flex


.data 
    .choose-expenses, .optionalexpenses, .count-budget, .choose-income-label
        margin: 13px 0px
        font-weight: 500
        font-size: 14px
        color: var(--text-color)
        text-align: center  
    .expenses-item, .optionalexpenses-item, .choose-income, .choose-sum, .choose-percent
        &::placeholder
            opacity: .3
    .expenses-item-btn, .optionalexpenses-btn, .count-budget-btn
        @include btn
    .optionalexpenses-item
        width: calc((100%/3) - 4px)
    .count-budget-btn
        width: 120px
    .choose-income
        display: block
        width: 80%
        margin: 0 auto
    .checksavings
        margin: 0 auto
        margin-top: 20px
        text-align: center
        input
            width: 30px
    .choose-sum, .choose-percent
        width: 30%
        margin: 15px
    .start
        @include btn
        width: 200px
        height: 45px
        margin-top: 30px
        font-size: 18px
        font-weight: 100

.result
    width: 50%
    &-table 
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        width: 90%
        min-height: 400px
        margin: 0 auto
        margin-top: 42px
        padding: 20px
        background-color: #fff
        box-shadow: 0px 1.5px 20px 0 rgba(1, 0, 42, 0.1)
        .budget, .budget-value, .daybudget, .daybudget-value, .level, .level-value, .expenses, .expenses-value, .optionalexpenses, .optionalexpenses-value, .income, .income-value, .monthsavings, .monthsavings-value, .yearsavings, .yearsavings-value
            width: 48%
            margin-top: 10px
            min-height: 40px
            padding: 10px
            font-weight: 500
        
        .budget-value, .daybudget-value, .level-value, .expenses-value, .optionalexpenses-value, .income-value, .monthsavings-value, .yearsavings-value
            color: var(--result)
            word-break: break-word

    .time-data
        width: 100%
        margin: 0 auto
        display: flex
        justify-content: space-around
        margin-top: 40px
        .year, .month, .day 
            font-size: 16px
            font-weight: 500
        .year-value, .month-value, .day-value
            width: 80px
            height: 30px
            margin-left: 25px


